<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <title>QR Code - PHP</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    <div class='container'>
        {% block content %}
        {% endblock %}    
    </div>
    <footer>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-8 col-sm-offset-2'>
                    <hr>
                    <p class='h4 text-center'>
                        Desenvolvido por - <a href="http://diegobrocanelli.com.br/" target="_blank">Diego Brocanelli</a>
                    </p>    
                </div>
            </div>
        </div>
    </footer>
</body>
</html>